html,
body {
  height: 100%;
  margin: 0;
}

body {
  align-items: center;
  display: flex;
  justify-content: center;

  background: linear-gradient(to bottom right, #444444, #009a5b);
  font-size: 1.5rem;
}

main {
  color: #fff6d5;
  font-family: sans-serif;
  text-align: center;
}

.logo {
  height: 20em;
}

.heart:after {
  content: "❤️";

  font-size: 1.75em;
}

h1 + .subtitle {
  display: block;
  margin-top: -1em;
}

.message-editable {
  width: 100%; /* Make textarea take full width of its container */
  min-height: 100px; /* Minimum height */
  resize: vertical; /* Allow vertical resizing, prevent horizontal resizing */
  box-sizing: border-box; /* Include padding and border in the width and height */
  padding: 10px; /* Add some padding for aesthetics */
}

@media (max-width: 600px) { /* For smaller screens */
  .message-editable {
      min-height: 50px; /* Smaller minimum height */
  }
}

button:disabled {
  opacity: 0.5; /* Make the button appear faded when disabled */
  cursor: not-allowed; /* Change cursor to indicate the button is not clickable */
}
